/* You can add global styles to this file, and also import other style files */

/* Snackbar styling */
.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.success-snackbar .mdc-button__label {
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.error-snackbar .mdc-button__label {
  color: white !important;
}